In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import importlib

In [2]:
from pathlib import Path
import sys

# Ensure project root is on sys.path so `data.loader` can be imported from the notebook
repo_root = Path.cwd()
if not (repo_root / "data").exists():
    repo_root = repo_root.parent
sys.path.insert(0, str(repo_root.resolve()))
from data.loader import get_klines, load_btc_archive

klines = get_klines(limit=1000)
klines

Downloading klines data from Binance...

,open_time,open,high,low,close,volume,close_time,quote_volume,num_trades,tbbv,tbqv,ignore
0,2025-10-13 11:00:00,114810.61,114810.61,113616.50,114180.00,1981.76101,2025-10-13 11:59:59.999,2.263548e+08,361059,945.27448,1.079434e+08,0
1,2025-10-13 12:00:00,114180.00,114748.97,113931.16,114412.26,1209.47056,2025-10-13 12:59:59.999,1.383552e+08,302138,501.59722,5.737408e+07,0
2,2025-10-13 13:00:00,114412.25,115530.00,114220.07,115345.79,1815.19891,2025-10-13 13:59:59.999,2.084318e+08,496074,914.02999,1.049665e+08,0
3,2025-10-13 14:00:00,115345.79,115476.18,113800.01,114036.63,1434.88366,2025-10-13 14:59:59.999,1.644441e+08,477275,622.83119,7.137037e+07,0
4,2025-10-13 15:00:00,114036.63,114727.95,113968.02,114312.10,1078.57574,2025-10-13 15:59:59.999,1.233141e+08,332392,490.04911,5.603742e+07,0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,2025-11-23 22:00:00,87992.03,88127.64,87554.23,88004.00,806.41047,2025-11-23 22:59:59.999,7.082071e+07,242217,449.83160,3.951002e+07,0
996,2025-11-23 23:00:00,88004.01,88086.96,86701.54,86830.00,1365.46340,2025-11-23 23:59:59.999,1.189356e+08,290198,570.81179,4.972598e+07,0
997,2025-11-24 00:00:00,86830.00,87211.33,85946.65,86740.64,1392.29093,2025-11-24 00:59:59.999,1.204505e+08,368672,638.92407,5.528392e+07,0
998,2025-11-24 01:00:00,86740.64,87091.31,86399.99,87068.51,958.30504,2025-11-24 01:59:59.999,8.310619e+07,299683,482.66891,4.186672e+07,0
999,2025-11-24 02:00:00,87068.51,87458.88,87025.01,87458.87,109.60978,2025-11-24 02:59:59.999,9.568694e+06,24727,78.37356,6.841954e+06,0

In [3]:
# pct_change = klines["close"].pct_change()
# fig = px.histogram(pct_change, nbins=100, title="BTC Hourly Returns Distribution")
# moments = { "mean": np.mean(pct_change),
#             "std": np.std(pct_change),
#             "skew": stats.skew(pct_change.dropna()),
#             "kurtosis": stats.kurtosis(pct_change.dropna())}
# # Normal PDF with mean/std from moments
# x = np.linspace(pct_change.min(), pct_change.max(), 400)
# pdf = stats.norm.pdf(x, loc=moments["mean"], scale=moments["std"])

# fig.add_trace(go.Scatter(x=x, y=pdf, mode="lines",
#                          name="Normal PDF",
#                          line=dict(color="red", width=2)))

# fig.update_layout(xaxis_title="Pct change", yaxis_title="Density")
# fig.show()`

moments

## 2025-08 Data

In [4]:
path = repo_root / "data" / "Archive" / "BTCUSDT-1h-2025-08.csv"
df_2025_08 = pd.read_csv(path)
df_2025_08.columns = [
        "open_time","open","high","low","close","volume",
        "close_time","quote_volume","num_trades",
        "tbbv","tbqv","ignore"]

df_2025_08.drop(columns=["ignore", "open_time", "close_time"], inplace=True)
df_2025_08.describe()

,open,high,low,close,volume,quote_volume,num_trades,tbbv,tbqv
count,743.000000,743.000000,743.000000,743.000000,743.000000,7.430000e+02,743.000000,743.000000,7.430000e+02
mean,114917.386299,115172.598277,114631.734361,114907.727524,631.009496,7.263587e+07,110563.561238,306.018307,3.524722e+07
std,3333.776582,3346.583528,3336.919188,3342.693882,562.473697,6.511093e+07,82158.730193,281.176473,3.266169e+07
min,107447.970000,107951.770000,107350.100000,107447.970000,104.468000,1.187049e+07,21418.000000,47.100420,5.118976e+06
25%,112923.040000,113258.595000,112610.210000,112913.010000,316.217185,3.603509e+07,58156.000000,147.177815,1.671302e+07
50%,114826.010000,115077.370000,114600.740000,114812.870000,471.633720,5.436203e+07,88286.000000,223.150930,2.562583e+07
75%,117347.700000,117530.000000,117062.465000,117347.705000,739.451800,8.562650e+07,133774.000000,367.343775,4.244186e+07
max,123847.820000,124474.000000,123337.660000,123847.830000,6271.742230,7.208321e+08,735397.000000,3344.092690,3.842219e+08

## Concatenating Data

In [5]:
df_archive = load_btc_archive()

Loading BTC archive data from /Users/alexkara/repos/btc-vol-lab/notebooks/data/Archive...

ValueError: No objects to concatenate